# Loading the data

Using modin as multithreads compared to pandas

In [6]:
# load pandas
import pandas as pd

# load data
df = pd.read_pickle('mortgage_data_balanced.pkl.gz')

In [13]:
# (i) analyzing the number of rows and columns
print(f'Dataframe shape: {df.shape}')

Dataframe shape: (165950, 78)

In [14]:
# (ii) visualizing the first few lines of the dataset
print('First 10 rows of dataframe')
display(df.head(10))

First 10 rows of dataframe

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2011,0000009179,Office of the Comptroller of the Currency,OCC,1,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,1653,5972.0,1.890000,66600.0,106.129997,1973.0,2194.0,0
1,2011,0000476810,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,31273,4188.0,4.660000,49500.0,106.169998,1331.0,3113.0,0
2,2011,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,1164651,9565.0,42.529999,61200.0,100.330002,2504.0,3149.0,0
3,2011,0000030052,Federal Deposit Insurance Corporation,FDIC,3,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,515,5928.0,9.990000,67400.0,170.520004,1755.0,2102.0,0
4,2011,0002888798,Federal Reserve System,FRS,2,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,44491,4021.0,3.560000,54200.0,139.789993,1296.0,1487.0,0
5,2011,57-1171914,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,763,5022.0,83.970001,92300.0,99.199997,883.0,1108.0,0
6,2011,73-1545233,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,2026,2982.0,17.870001,60600.0,87.279999,635.0,1242.0,0
7,2011,7197000003,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,126663,3456.0,6.830000,81400.0,203.449997,1149.0,1208.0,0
8,2011,25-1531922,Federal Deposit Insurance Corporation,FDIC,3,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,339,3437.0,1.860000,54900.0,92.839996,1048.0,1842.0,0
9,2011,0000852320,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,10258,7577.0,58.439999,49500.0,82.589996,1948.0,2921.0,0

In [16]:
# (iii) listing the names of each variable and type
print(f'Data types: \n{[x for x in df.dtypes]}')

Data types:
[dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('int64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('float64'), dtype('O'), dtype('int64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('int64'), dtype('O'), dtype('int64'), dtype('O'), dtype('float64'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('int64')]

In [26]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.dtypes)

as_of_year                          int64
respondent_id                      object
agency_name                        object
agency_abbr                        object
agency_code                         int64
loan_type_name                     object
loan_type                           int64
property_type_name                 object
property_type                       int64
loan_purpose_name                  object
loan_purpose                        int64
owner_occupancy_name               object
owner_occupancy                     int64
loan_amount_000s                    int64
preapproval_name                   object
preapproval                         int64
action_taken_name                  object
action_taken                        int64
msamd_name                         object
msamd                             float64
state_name                         object
state_abbr                         object
state_code                        float64
county_name                        object
county_code                       float64
census_tract_number               float64
applicant_ethnicity_name           object
applicant_ethnicity                 int64
co_applicant_ethnicity_name        object
co_applicant_ethnicity              int64
applicant_race_name_1              object
applicant_race_1                    int64
applicant_race_name_2              object
applicant_race_2                  float64
applicant_race_name_3              object
applicant_race_3                  float64
applicant_race_name_4              object
applicant_race_4                  float64
applicant_race_name_5              object
applicant_race_5                  float64
co_applicant_race_name_1           object
co_applicant_race_1                 int64
co_applicant_race_name_2           object
co_applicant_race_2               float64
co_applicant_race_name_3           object
co_applicant_race_3               float64
co_applicant_race_name_4           object
co_applicant_race_4               float64
co_applicant_race_name_5           object
co_applicant_race_5               float64
applicant_sex_name                 object
applicant_sex                       int64
co_applicant_sex_name              object
co_applicant_sex                    int64
applicant_income_000s             float64
purchaser_type_name                object
purchaser_type                      int64
denial_reason_name_1               object
denial_reason_1                   float64
denial_reason_name_2               object
denial_reason_2                   float64
denial_reason_name_3               object
denial_reason_3                   float64
rate_spread                       float64
hoepa_status_name                  object
hoepa_status                        int64
lien_status_name                   object
lien_status                         int64
edit_status_name                   object
edit_status                       float64
sequence_number                     int64
population                        float64
minority_population               float64
hud_median_family_income          float64
tract_to_msamd_income             float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
application_date_indicator          int64
dtype: object